<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
<!-- <div class="container-menu">
    <h1>Our Menu</h1>
<ol>
<% for(let item of menuItems) { %>
<li>
<strong><%= item.name %></strong>
<span class="description"><%= item.description %></span>
<span class="cost"><%= item.cost %></span>
<button>Order now</button>
</li>
<% }%>
</ol>
</div> -->

<!-- Loader -->
<div class="loader" id="loader">
     <img src="blue-loader.svg" alt="Loading">
     <span>Récupération des recettes.....</span>
</div>
</body>
</html>
